.matter{
    margin-left: 20px;
    margin-right: 20px;
}

#image{
    visibility: hidden;
}

.mobile_margin_below{
    margin-bottom: 20px !important;
}

.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}

.navbar{
    background-color: rgba(255,255,255,0) !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.padding-text{
    padding-top: 15px;
    font-size: 15px !important;
}

.case-study-text p {
    font-size: 15px;
}
.case-study-text h3 {
    font-size: 22px;
}

.project_margin{
    margin-bottom: 10px;
}

.links a{
    font-size: 20px;
}

.black-matter{
    padding-left: 30px;
    background-color: black;
    color: white;
    padding-right: 20vh !important;
}


