.matter{
    margin-left: 50px;
    margin-right: 50px;
}

#image{
    margin-right: 15vh;
    margin-bottom: 10vh;
    width: 10%;
}

.navbar{
    background-color: rgba(255,255,255,0) !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
}

.padding-text{
    padding: 50px;
    font-size: 25px;
}

.case-study-text p {
    font-size: 20px;
}

.case-study-text h3 {
    font-size: 32px;
}

.laptop_image_padding{
    padding: 5vh;
}

.project_margin{
    margin-bottom: 30px;
}

.black-matter{
    padding-left: 100px;
    background-color: black;
    color: white;
    padding-right: 20vh !important;
}
.padding-right{
    margin-top: 20vh;
    padding-right: 35vh;
}
.padding-top{
    margin-top: auto;
}

.margin-top{
    margin-top: 25vh;
}